<div class="image-container">
  <%=fooimage @post.picture, "large"%>
</div>
<div class="post-title">
  <div class="post-title-content">
    <p>
      <%=@post.title%>
    </p>
  </div>
</div>
<p class="post-content">
<%=@post.content%>
</p>
<%=render partial: 'comments/comment_form',  object: @post, as: 'post'%>
<ul class="comments">
  <%=render @comments%>
</ul>
