<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 img-responsive">
          <%=image_tag "haveyourdessert.svg" , class: "svg-class"%>					
    </div>
    </div>
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3">
    				<header class="navbar navbar-inverse">
        			<%= render partial: 'layouts/menu' %>
    				</header>
            <br>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
      <% flash.each do |message_type, message| %>
        <%=content_tag(:div, message, 
                       class: "alert alert-#{message_type }")%>
      <%end%>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    </div>
    </div>
  </body>
</html>
